<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}App_A{% endblock %}</title>
</head>
<body style="background-color:#202020; color:#FFFFFF;
 font-size: 50px; text-align: center; font-weight: bolder;direction: rtl;"></body>
 {% block current_user %}
 {% if Current_user and Current_user.Role.id == 3 %}
      <div style="background-color:#505000; color:#FFFFFF;">
        {{Current_user.Role.Name}}:</div>
      <div style="background-color:#505000; color:#FFFFFF;">
        {{Current_user.Name}}</div>
      <div><a href="{% url 'logout' %}" style="background-color:#505000; color:#FFFFFF;">להתנתק</a></div>
        {% endif %}

        {% if Current_user and Current_user.Role.id == 2 %}
  <div style="background-color:#005050; color:#FFFFFF;">
    {{Current_user.Role.Name}}:</div>
  <div style="background-color:#005050; color:#FFFFFF;">
    {{Current_user.Name}}</div>
  <div><a href="{% url 'logout' %}" style="background-color:#505000; color:#FFFFFF;">להתנתק</a></div>
    {% endif %}

    {% if Current_user and Current_user.Role.id == 1 %}
  <div style="background-color:#500050; color:#FFFFFF;">
    {{Current_user.Role.Name}}:</div>
  <div style="background-color:#500050; color:#FFFFFF;">
    {{Current_user.Name}}</div>
  <div><a href="{% url 'logout' %}" style="background-color:#505000; color:#FFFFFF;">להתנתק</a></div>
    {% endif %}

  {% endblock %}
  <nav>
      <span><a href="{% url 'home' %}"
        style="background-color:#000060; color:#FFFFFF;">דף הבית</a></span>
      <span> <a href="{% url 'R_Cust_Registration' %}"
        {% if not Current_user %}
        style="background-color:#500000; color:#FFFFFF;">הרשמה</a></span>
      <span><a href="{% url 'login' %}"
        style="background-color:#004000; color:#FFFFFF;">התחברות</a></span>
        {% endif %}

    <span> <a href="{% url 'n3_Airlines_Page' %}"
      style="background-color:#505000; color:#FFFFFF;">חברות-תעופה</a></span>
    <span> <a href="{% url 'n6_Countries_Page' %}"
      style="background-color:#005050; color:#FFFFFF;">יעדים</a></span>
    <span> <a href="{% url 'n7_Flights_Page' %}"
      style="background-color:#500050; color:#FFFFFF;">כל הטיסות</a></span>
      {% if Current_user and Current_user.Role.id == 3 %}
      <span> <a href="{% url 'X_Cust_Account' %}"
        style="background-color:#500050; color:#FFFFFF;">החשבון שלי</a></span>

        <span> <a href="{% url 'n7_Flights_Page' %}"
          style="background-color:#500050; color:#FFFFFF;">הטיסות שלי</a></span>
    {% endif %}

    {% if Current_user and Current_user.Role.id == 2 %}
      <span> <a href="{% url 'Y_Airline_Account' %}"
        style="background-color:#500050; color:#FFFFFF;">החשבון שלי</a></span>

        <span> <a href="{% url 'n7_Flights_Page' %}"
          style="background-color:#500050; color:#FFFFFF;">הטיסות שלי</a></span>
    {% endif %}

    {% if Current_user and Current_user.Role.id == 1 %}
      <span> <a href="{% url 'API_List' %}"
        style="background-color:#500050; color:#FFFFFF;">API_List</a></span>

      <span> <a href="{% url 'Z_Admin_Account' %}"
       style="background-color:#500050; color:#FFFFFF;">החשבון שלי</a></span>

      <span> <a href="{% url 'n1_Users_Page' %}"
        style="background-color:#500050; color:#FFFFFF;">כל המשתמשים</a></span>

      <span> <a href="{% url 'n2_Customers_Page' %}"
        style="background-color:#500050; color:#FFFFFF;">כל הלקוחות</a></span>

      <span> <a href="{% url 'n4_Administrators_Page' %}"
       style="background-color:#500050; color:#FFFFFF;">כל המנהלים</a></span>

      <span> <a href="{% url 'n5_User_Roles_Page' %}"
       style="background-color:#500050; color:#FFFFFF;">סיווג הרשאות</a></span>

       <span> <a href="{% url 'n8_Tickets_Page' %}"
        style="background-color:#500050; color:#FFFFFF;">כל הכרטיסי טיסה</a></span>
    {% endif %}
  </nav>
  {% block content %}
  {% endblock %}
</body>
</html>