{% extends 'base.html' %}
{% autoescape off %}
{% block title %}
רשימת מדינות
{% endblock %}

{% block content %}
  <h1 style="background-color:#505000; color:#FFFFFF;">רשימת מדינות</h1>
  <table style="background-color:#505000; color:#FFFFFF; font-size: 50px; text-align: center; font-weight: bolder;
  border: 3px solid #FFFFFF; border-collapse: collapse;">
    <tr>
      <th>מס'</th>
      <th>שם</th>
      </tr>
      {% for country in Countries %}
      <tr>
      <td>{{ country.id }}</td>
      <td>{{ country.Name }}</td>
      </tr> 
      {% endfor %}
  </table>
{% endblock %}
{% endautoescape %}