<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>אתר לניהול טיסות</title>
<style>
    a { text-decoration: none; }
  </style>
</head>
<body style="background-color:#202020; color:#FFFFFF;
 font-size: 50px; text-align: right; font-weight: bolder;
background-image: url('02.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;"></body>

<h1 style="font-size: 150px; margin-top: 0px; margin-bottom: 0px; underline:'true'; text-align:center;">דף מנהל</h1>


<ol style="direction: rtl;">
<li><a style="background-color:#000000; color:#FFFFFF;" href="1.Users.html">רשימת משתמשים</a></li>
<li><a style="background-color:#000000; color:#FFFF00;" href="2.Customers.html">רשימת לקוחות</a></li>
<li><a style="background-color:#000000; color:#00FFFF;" href="3.Airline_Companies.html">רשימת חברות-תעופה</a></li>
<li><a style="background-color:#000000; color:#FF00FF;" href="4.Administrators.html">רשימת מנהלי מערכת</a></li>
<li><a style="background-color:#000000; color:#FF8000;" href="5.User_Roles.html">דרגות סיווג</a></li>
<li><a style="background-color:#505000; color:#FFFFFF;" href="6.Countries.html">רשימת יעדים</a></li>
<li><a style="background-color:#005050; color:#FFFFFF;" href="7.Flights.html">רשימת טיסות</a></li>
<li><a style="background-color:#500050; color:#FFFFFF;" href="8.Tickets.html">רשימת כרטיסי טיסה</a></li>
</ol>
</body>
</html>